<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>PhotoShare</title>
<style>
.mybody {padding: 20px;}
</style>
</head>
<body class="mybody">

<div class="logotype">
<a href="/"><img src="/static/img/lol.png" height=100></a></div>
<input type="button" class="btn btn-primary" value="ВКонтакте" onclick=" relocate_vk()">

<script>
function relocate_vk()
{
     location.href = "https://vk.com/";
} 
</script>
<input type="button" class="btn btn-danger" value="YouTube" onclick=" relocate_yt()">

<script>
function relocate_yt()
{
     location.href = "https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw";
} 
</script>
</div>
<div style = "text-align: right">
{% if "username" not in session %}
	<a href="/login">Войти</a>
{% endif %}
{% if "username" in session %}
	<a href="/index"><img src="/static/img/{{session['content']}}" height=50 alt="Аватар"></a>
    <a class="navbar-brand" href="/logout">{{session['username']}}</a>
{% endif %}
</div>
<div style = "text-align: center">
{% block content %}{% endblock %}
<div>
</body>
 </html>
 <div style = "text-align: left">
 <iframe  frameborder="no" scrolling="no" width="280" height="65" src="https://yandex.ru/time/widget/?geoid=213&lang=ru&layout=horiz&type=digital&face=serif"></iframe>
 </div>
 <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 142332541, {tooltipButtonText: "Есть вопрос?"});
</script>
  </body>
</html>
