{% extends "base.html" %}

{% block content %}
	{% for item in user %}
    <img src="/static/img/{{item[3]}}" height=75 alt="Аватар">
    <h2>{{item[1]}}</h2>
    {% endfor %}
{% for item in photo | reverse %}
    <div class="alert alert-dark" role="alert">
        <h2>{{item[1]}}</h2>
        <div><a href="/photo/{{item[0]}}"><img src="/static/img/{{item[2]}}" width=500 alt="Ошибка загрузки фото"></a></div>
        <a href="/like_photo/{{item[0]}}">👍 {{item[4]}}</a><br>
    </div>
{% endfor %}
{% endblock %}
